<%- include("header") -%>

<h2> This is the about page.</h2>

<p>
  Plan, estimate and execute: hepls you a lot in completing tasks. So why are you waiting now just make list of task and work on it, we are here to remind you.

</p>

<%- include("footer") -%>
